<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of data2; let i = index">
      <td>{{ product.name | titlecase }}</td>
      <td>{{ product.priceGeneral | currency }}</td>
      <td>
        {{ product.cantidad }}
      </td>
      <td>{{ product.priceGeneral * product.cantidad! | currency }}</td>
      <td class="buttonTable">
        <Button
          pButton
          class="p-button-danger p-button-outlined"
          icon="pi pi-trash"
          label="1"
          (click)="this.store.deleteOneCantidad(i)"
        >
        </Button>
        <Button
          pButton
          class="p-button-danger p-button-outlined"
          icon="pi pi-trash"
          (click)="this.store.delete(i)"
        ></Button>
      </td>
    </tr>
  </tbody>
</table>
