<nav
  class="bg-blue-400 px-4 flex justify-content-between align-items-center py-2"
>
  <a routerLink="/" class="text-white text-3xl"> StorePost </a>
  <div class="flex justify-content-start flex-grow-1 mx-3">
    <a
      class="text-white text-2xl mx-1"
      *ngFor="let ruta of rutas"
      routerLink="{{ ruta.url }}"
      >{{ ruta.name }}</a
    >
  </div>

  <div class="flex align-items-center">
    <p-avatar [image]="userData.img" shape="circle" size="large"></p-avatar>
    <span class="text-white text-xl">{{ userData.name }}</span>
  </div>
</nav>
