<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/']">
      <h1 class="title is-3 has-text-success">Store Pos</h1>
    </a>
    <!-- TODO: fix button screen small -->
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarExampleTransparentExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <!-- TODO: Implement routas desde el controlador dependiendo del usuario -->

      <a class="navbar-item" routerLink="/Ventas"> Ventas </a>
      <a class="navbar-item" routerLink="/Deposito"> Deposito </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <!-- TODO: Perfil de usuario, Img y boton salir -->
        <div class="nav-perfil navbar-item has-dropdown is-hoverable">
          <figure class="image is-24x24">
            <!-- TODO: Implement directive !userData.img -->
            <img class="is-rounded" [src]="userData.img" />
          </figure>
          <p class="ml-2">{{ userData.name }}</p>

          <div class="navbar-dropdown">
            <a class="navbar-item"> Historial </a>
            <a class="navbar-item"> Perfil </a>
            <hr class="navbar-divider" />
            <a class="navbar-item has-text-danger"> Salir </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
