<div class="box">

  <app-buscar (data)="newElement($event)"></app-buscar>

  <div class="mt-3" *ngIf="data.length> 0">
    <app-tabla [data2]="data"></app-tabla>
    <div class="is-flex is-justify-content-flex-end" style="gap: 30px;">
      <p class="level-item">
        Total = <strong> {{this.store.getTotal() | currency}}</strong>
      </p>
      <button (click)="cobrar() " class="level-item button is-success">Cobrar</button>
      <button (click)="limpiart()" class="level-item button is-danger">Limpiar</button>
    </div>
  </div>
</div>



<div [class.is-active]='modal' class="modal">

  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Importe a cobrar <strong>{{this.store.getTotal()|currency}}</strong></p>
      <button class="delete" (click)="paymenCancel()" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="field ">
        <label class="label">Dinero recibido</label>
        <div class="control">
          <input [(ngModel)]="payment.efectivo" (keyup)="darVuelto()" required min=1 class="input" type="number">
        </div>
      </div>
      <div *ngIf="payment.efectivo >0" class="field">
        <label class="label">Dar Vuelto</label>
        <div class="control">
          <div *ngIf="payment.efectivo>this.store.getTotal();else noMoney"
            class="box has-background-success has-text-light">
            importe Correcto !... Dar vuelto <strong> ${{payment.vuelto}}</strong></div>
          <ng-template #noMoney>
            <div class=" box has-background-danger has-text-light">
              <p> No Alcanza a pagar... falta <strong> ${{payment.vuelto}}</strong></p>
            </div>
          </ng-template>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Finalizar Compra</button>
      <button (click)="paymenCancel()" class="button is-danger">Cancelar</button>
    </footer>
  </div>
</div>
